@model SCA.Shared.Entities.User
@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:50px;"></div>
<div style="padding-top:50px;">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            You are Logged in as <span style="font-size:large;color:forestgreen;">@User.Identity.Name</span>
        </div>
        <div style="padding-top:30px;"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div><b>Seus Dados:</b></div>
                <div style="">
                    <div>
                        <table>
                            <tr>
                                <td style="width:30%;">User ID</td>
                                <td style="width:50%;"><label>@Model.USERID</label></td>
                            </tr>
                            <tr>
                                <td>Email ID</td>
                                <td><label>@Model.EMAILID</label></td>
                            </tr>
                            <tr>
                                <td>Access Level</td>
                                <td><b><label>@Model.ACCESS_LEVEL</label><b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    } else
    {
        <div class="row justify-content-center">
            <div class="col-11 col-sm-8 col-md-6">
                <div>
                    @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { role = "form" }))
                    {
                        <div>
                            @Html.AntiForgeryToken()
                            <div>
                                <label>User ID</label><br />
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.USERID, new { @class = "form-control txtbox" })
                            </div>
                            <div style="padding-top:20px;"></div>
                            <div>
                                <label>Password</label><br />
                            </div>
                            <div>
                                @Html.PasswordFor(m => m.PASSWORD, new { @class = "form-control txtbox" })
                            </div>
                        </div>
                        <div style="padding-left:35%;width:40%;">
                            <div style="padding-top:20px;">
                                <input class="btn btn-primary btn-lg rph-login-button" type="submit" value="Login" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="">
                <div style="padding-top:50px;">
                    <div>
                        <hr>
                    </div>
                    <div style="padding-top:10px;">
                        <ui style="list-style: none;">
                            <li>jsmith@email.com  -  Director, Read Only - true</li>
                            <li>srob@email.com  -  Supervisor, Read Only - false</li>
                            <li>dwill@email.com  -  Analyst, Read Only - false</li>
                            <li>JBlack@email.com  -  Analyst, Read Only - true</li>
                        </ui>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
