@model IEnumerable<SCA.Shared.Entities.Inputs.Insumo>

@{
    ViewData["Title"] = "Insumo - Lista";
}

<h1>@ViewData["Title"]</h1>

<p>
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control" id="buscar" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="bg-light">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="dados">
        @foreach (var item in Model)
        {
            string ativoStyle = item.Status == ViewBag.StatusManutencao ? "flag_yellow" : "flag_green";
            string style = item.Status == ViewBag.StatusInativo ? "flag_red" : ativoStyle;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td class="align-middle">
                    <div class="flag @style"></div>
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Novo", "Create", "Insumos", null, new { @class = "btn btn-primary btn-large" })
</p>
